interactions:
- request:
    body: '{"data": {"actions": [{"relative_path": "/users/me", "method": "get", "options":
      {"fields": ["gid", "name", "resource_type"]}}, {"relative_path": "/users/me",
      "method": "get", "options": {"fields": ["gid", "name", "resource_type"]}}, {"relative_path":
      "/users/me", "method": "get", "options": {"fields": ["gid", "name", "resource_type"]}},
      {"relative_path": "/users/me", "method": "get", "options": {"fields": ["gid",
      "name", "resource_type"]}}, {"relative_path": "/users/me", "method": "get",
      "options": {"fields": ["gid", "name", "resource_type"]}}, {"relative_path":
      "/users/me", "method": "get", "options": {"fields": ["gid", "name", "resource_type"]}},
      {"relative_path": "/users/me", "method": "get", "options": {"fields": ["gid",
      "name", "resource_type"]}}, {"relative_path": "/users/me", "method": "get",
      "options": {"fields": ["gid", "name", "resource_type"]}}, {"relative_path":
      "/users/me", "method": "get", "options": {"fields": ["gid", "name", "resource_type"]}},
      {"relative_path": "/users/me", "method": "get", "options": {"fields": ["gid",
      "name", "resource_type"]}}, {"relative_path": "/users/me", "method": "get",
      "options": {"fields": ["gid", "name", "resource_type"]}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.10.12&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: POST
    uri: https://app.asana.com/api/1.0/batch?limit=100
  response:
    body:
      string: '{"errors":[{"message":"Batch requests must contain no more than 10
        actions","help":"For more information on API status codes and how to handle
        them, read the docs on errors: https://developers.asana.com/docs/errors"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      x-asana-api-version:
      - '1.1'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 400
      message: Bad Request
version: 1
