interactions:
- request:
    body: '{"data": {"name": "pytest-e2e-test_batch_crud_lifecycle"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.10.12&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: POST
    uri: https://app.asana.com/api/1.0/workspaces/${WORKSPACE_GID}/projects
  response:
    body:
      string: '{"data":{"gid":"${GID:7432421435548794}","resource_type":"project","created_at":"2026-05-26T08:44:19.591Z","modified_at":"2026-05-26T08:44:19.591Z","due_date":null,"due_on":null,"notes":"","archived":false,"default_view":"list","default_access_level":"editor","minimum_access_level_for_customization":"editor","minimum_access_level_for_sharing":"editor","start_on":null,"color":null,"completed":false,"completed_at":null,"completed_by":null,"public":false,"privacy_setting":"private","current_status_update":null,"name":"pytest-e2e-test_batch_crud_lifecycle","icon":"list","permalink_url":"https://app.asana.com/1/${WORKSPACE_GID}/project/${GID:7432421435548794}","current_status":null,"workspace":{"gid":"${WORKSPACE_GID}","resource_type":"workspace","name":"${WORKSPACE_NAME}"},"owner":{"gid":"${GID:9210444840269866}","resource_type":"user","name":"${USER_NAME}"},"team":{"gid":"${GID:2262018960161802}","resource_type":"team","name":"${TEAM_NAME}"},"members":[{"gid":"${GID:9210444840269866}","resource_type":"user","name":"${USER_NAME}"}],"followers":[{"gid":"${GID:9210444840269866}","resource_type":"user","name":"${USER_NAME}"}]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      location:
      - /api/1.0/projects/${GID:7432421435548794}
      x-asana-api-version:
      - '1.0'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"actions": [{"relative_path": "/tasks", "method": "post", "data":
      {"name": "batch-task-00", "projects": ["${GID:7432421435548794}"]}}, {"relative_path":
      "/tasks", "method": "post", "data": {"name": "batch-task-01", "projects": ["${GID:7432421435548794}"]}},
      {"relative_path": "/tasks", "method": "post", "data": {"name": "batch-task-02",
      "projects": ["${GID:7432421435548794}"]}}, {"relative_path": "/tasks", "method": "post",
      "data": {"name": "batch-task-03", "projects": ["${GID:7432421435548794}"]}}, {"relative_path":
      "/tasks", "method": "post", "data": {"name": "batch[...]
- request:
    body: '{"data": {"actions": [{"relative_path": "/tasks/${GID:3904621183323894}", "method":
      "put", "data": {"notes": "batch-updated-00"}}, {"relative_path": "/tasks/${GID:8536165244784889}",
      "method": "put", "data": {"notes": "batch-updated-01"}}, {"relative_path": "/tasks/${GID:8944508626142620}",
      "method": "put", "data": {"notes": "batch-updated-02"}}, {"relative_path": "/tasks/${GID:9620853122187666}",
      "method": "put", "data": {"notes": "batch-updated-03"[...]
- request:
    body: '{"data": {"actions": [{"relative_path": "/tasks/${GID:3904621183323894}", "method":
      "get", "options": {"fields": ["gid", "name", "notes"]}}, {"relative_path": "/tasks/${GID:8536165244784889}",
      "method": "get", "options": {"fields": ["gid", "name", "notes"]}}, {"relative_path":
      "/tasks/${GID:8944508626142620}", "method": "get", "options": {"fields": ["gid", "name",
      "notes"]}}, {"relative_path": "/tasks/${GID:9620853122187666}", "method": "get", "options":
      {"fields": ["gid", "name", "notes"]}}, {"relative_path": "/tasks/${GID:4709320275918842}",
      "method": "get", "options": {"fi[...]
- request:
    body: '{"data": {"actions": [{"relative_path": "/tasks/${GID:3904621183323894}", "method":
      "delete"}, {"relative_path": "/tasks/${GID:8536165244784889}", "method": "delete"},
      {"relative_path": "/tasks/${GID:8944508626142620}", "method": "delete"}, {"relative_path":
      "/tasks/${GID:9620853122187666}", "method": "delete"}, {"relative_path": "/tasks/${GID:4709320275918842}",
      "method": "delete"}, {"relative_path": "/tasks/${GID:1881874665915391}", "method":
      "delete"}, {"relative_path": "/tasks/${GID:6185902126152911}", "method": "delete"},
      {"relative_path": "/tasks/${GID:7524235362942102}", "method": "delete"}, {"relative_path":
      "/tasks/${GID:8942405042007741}", "method": "delete"}, {"relative_path": "/tasks/${GID:9725018898072965}",
      "method": "delete"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.10.12&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: POST
    uri: https://app.asana.com/api/1.0/batch
  response:
    body:
      string: '{"data":[{"body":{"data":{}},"status_code":200,"headers":{"headers":[], "keys":[], "as_tuples":[]}},{"body":{"data":{}},"status_code":200,"headers":{"headers":[], "keys":[], "as_tuples":[]}},{"body":{"data":{}},"status_code":200,"headers":{"headers":[], "keys":[], "as_tuples":[]}},{"body":{"data":{}},"status_code":200,"headers":{"headers":[], "keys":[], "as_tuples":[]}},{"body":{"data":{}},"status_code":200,"headers":{"headers":[], "keys":[], "as_tuples":[]}},{"body":{"data":{}},"status_code":200,"headers":{"headers":[], "keys":[], "as_tuples":[]}},{"body":{"data":{}},"status_code":200,"h[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.10.12&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: DELETE
    uri: https://app.asana.com/api/1.0/projects/${GID:7432421435548794}
  response:
    body:
      string: '{"data":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      x-asana-api-version:
      - '1.0'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 200
      message: OK
version: 1
