interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.10.12&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: GET
    uri: https://app.asana.com/api/1.0/workspaces/${WORKSPACE_GID}/projects?opt_fields=name&limit=100
  response:
    body:
      string: '{"data":[{"gid":"8503325469700806","name":"pagination-test"},{"gid":"2750130645330941","name":"pagination-test-small"}],"next_page":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      x-asana-api-version:
      - '1.1'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"name": "pytest-e2e-events-sync", "projects": ["8503325469700806"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.10.12&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: POST
    uri: https://app.asana.com/api/1.0/tasks
  response:
    body:
      string: "{\"data\":{\"gid\":\"4215484815535401\",\"resource_type\":\"task\",\"created_at\":\"2026-05-24T11:46:16.543Z\",\"modified_at\":\"2026-05-24T11:46:16.805Z\",\"name\":\"pytest-e2e-events-sync\",\"notes\":\"\",\"actual_time_minutes\":0,\"completed\":false,\"completed_at\":null,\"due_on\":null,\"due_at\":null,\"start_on\":null,\"start_at\":null,\"resource_subtype\":\"default_task\",\"num_hearts\":0,\"num_likes\":0,\"assignee\":null,\"assignee_status\":\"upcoming\",\"workspace\":{\"gid\":\"${WORKSPACE_GID}\",\"resource_type\":\"workspace\",\"name\":\"${WORKSPACE_NAME}\"},\"parent\":null,\"hearted\":false,\"liked\":false,\"tags\":[],\"hearts\":[],\"likes\":[],\"permalink_url\":\"https://app.asana.com/1/${WORKSPACE_GID}/project/8503325469700806/task/4215484815535401\",\"projects\":[{\"gid\":\"8503325469700806\",\"resource_type\":\"project\",\"name\":\"pagination-test\"}],\"followers\":[{\"gid\":\"9210444840269866\",\"resource_type\":\"user\",\"name\":\"${USER_NAME}\"}],\"memberships\":[{\"section\":{\"gid\":\"3991398924663590\",\"resource_type\":\"section\",\"name\":\"\u7121\u984C\u306E\u30BB\u30AF\u30B7\u30E7\u30F3\"},\"project\":{\"gid\":\"8503325469700806\",\"resource_type\":\"project\",\"name\":\"pagination-test\"}}]}}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828;affected=true
      location:
      - /api/1.0/tasks/4215484815535401
      x-asana-api-version:
      - '1.0'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.10.12&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: GET
    uri: https://app.asana.com/api/1.0/events?resource=4215484815535401
  response:
    body:
      string: '{"errors":[{"message":"Sync token invalid or too old. If you are attempting
        to keep resources in sync, you must fetch the full dataset for this query
        now and use the new sync token for the next sync."}],"sync":"ced34fbc0aa62ebc3c56bd3aad8e0b9e:0"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      x-asana-api-version:
      - '1.0'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 412
      message: Precondition Failed
- request:
    body: '{"data": {"name": "pytest-e2e-events-sync-renamed"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.10.12&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: PUT
    uri: https://app.asana.com/api/1.0/tasks/4215484815535401
  response:
    body:
      string: "{\"data\":{\"gid\":\"4215484815535401\",\"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.10.12&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: GET
    uri: https://app.asana.com/api/1.0/events?sync=ced34fbc0aa62ebc3c56bd3aad8e0b9e%3A0&resource=4215484815535401
  response:
    body:
      string: "{\"data\":[{\"created_at\":\"2026-05-24T11:46:16.641Z\",\"type\":\"task\",\"action\":\"added\",\"parent\":{\"gid\":\"8503325469700806\",\"resource_type\":\"project\",\"name\":\"pagination-test\"},\"user\":{\"gid\":\"9210444840269866\",\"resource_type\":\"user\",\"name\":\"${USER_NAME}\"},\"resource\":{\"gid\":\"4215484815535401\",\"resource_type\":\"task\",\"name\":\"pytest-e2e-events-sync-renamed\",\"resource_subtype\":\"default_task\"}},{\"created_at\":\"2026-05-24T11:46:16.833Z\",\"type\":\"task\",\"action\":\"added\",\"parent\":{\"gid\":\"3991398924663590\",\"resource_type\":\"section\",\"name\":\"\u7121\u984C\u306E\u30BB\u30AF\u30B7\u30E7\u30F3\"},\"user\":{\"gid\":\"9210444840269866\",\"resource_type\":\"user\",\"name\":\"${USER_NAME}\"},\"resource\":{\"gid\":\"4215484815535401\",\"resource_type\":\"task\",\"name\":\"pytest-e2e-events-sync-renamed\",\"resource_subtype\":\"default_task\"}},{\"created_at\":\"2026-05-24T11:46:18.498Z\",\"type\":\"task\",\"action\":\"changed\",\"parent\":null,\"change\":{\"field\":\"name\",\"action\":\"changed\"},\"user\":{\"gid\":\"9210444840269866\",\"resource_type\":\"user\",\"name\":\"${USER_NAME}\"},\"resource\":{\"gid\":\"4215484815535401\",\"resource_type\":\"task\",\"name\":\"pytest-e2e-events-sync-renamed\",\"resource_subtype\":\"default_task\"}},{\"created_at\":\"2026-05-24T11:46:17.474Z\",\"type\":\"story\",\"action\":\"added\",\"user\":null,\"resource\":{\"gid\":\"1044711111430436\",\"resource_type\":\"story\",\"created_at\":\"2026-05-24T11:46:16.640Z\",\"type\":\"system\",\"text\":\"${USER_NAME}
        \u3055\u3093\u304C\u300Cpagination-test\u300D\u306B\u3053\u306E\u30BF\u30B9\u30AF\u3092\u8FFD\u52A0\u3057\u307E\u3057\u305F\",\"created_by\":{\"gid\":\"9210444840269866\",\"resource_type\":\"user\",\"name\":\"${USER_NAME}\"}},\"parent\":{\"gid\":\"4215484815535401\",\"resource_type\":\"task\",\"name\":\"pytest-e2e-events-sync-renamed\",\"resource_subtype\":\"default_task\"}}],\"sync\":\"b0cc1ee8204e97e3109477668078c14b:0\",\"has_more\":false}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828;affected=true
      x-asana-api-version:
      - '1.0'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.10.12&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: DELETE
    uri: https://app.asana.com/api/1.0/tasks/4215484815535401
  response:
    body:
      string: '{"data":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      x-asana-api-version:
      - '1.0'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 200
      message: OK
version: 1
