interactions:
- request:
    body: '{"data": {"name": "pytest-e2e-test_project_crud"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.11.2&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: POST
    uri: https://app.asana.com/api/1.0/workspaces/${WORKSPACE_GID}/projects
  response:
    body:
      string: '{"data":{"gid":"${GID:2275468384275427}","resource_type":"project","created_at":"2026-05-23T19:33:56.310Z","modified_at":"2026-05-23T19:33:56.310Z","due_date":null,"due_on":null,"notes":"","archived":false,"default_view":"list","default_access_level":"editor","minimum_access_level_for_customization":"editor","minimum_access_level_for_sharing":"editor","start_on":null,"color":null,"completed":false,"completed_at":null,"completed_by":null,"public":false,"privacy_setting":"private","current_status_update":null,"name":"pytest-e2e-test_project_crud","icon":"list","permalink_url":"https://app.asana.com/1/${WORKSPACE_GID}/project/${GID:2275468384275427}","current_status":null,"workspace":{"gid":"${WORKSPACE_GID}","resource_type":"workspace","name":"${WORKSPACE_NAME}"},"owner":{"gid":"${GID:9210444840269866}","resource_type":"user","name":"${USER_NAME}"},"team":{"gid":"${GID:2262018960161802}","resource_type":"team","name":"${TEAM_NAME}"},"members":[{"gid":"${GID:9210444840269866}","resource_type":"user","name":"${USER_NAME}"}],"followers":[{"gid":"${GID:9210444840269866}","resource_type":"user","name":"${USER_NAME}"}]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      location:
      - /api/1.0/projects/${GID:2275468384275427}
      x-asana-api-version:
      - '1.0'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.11.2&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: GET
    uri: https://app.asana.com/api/1.0/projects/${GID:2275468384275427}
  response:
    body:
      string: '{"data":{"gid":"${GID:2275468384275427}","archived":false,"color":"none","completed":false,"completed_at":null,"created_at":"2026-05-23T19:33:56.310Z","current_status":null,"current_status_update":null,"custom_fields":[],"default_access_level":"editor","default_view":"list","due_on":null,"due_date":null,"followers":[{"gid":"${GID:9210444840269866}","name":"${USER_NAME}","resource_type":"user"}],"members":[{"gid":"${GID:9210444840269866}","name":"${USER_NAME}","resource_type":"user"}],"minimum_access_level_for_customization":"editor","minimum_access_level_for_sharing":"editor","modified_at":"2026-05-23T19:33:58.252Z","name":"pytest-e2e-test_project_crud","notes":"","owner":{"gid":"${GID:9210444840269866}","nam[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.11.2&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: DELETE
    uri: https://app.asana.com/api/1.0/projects/${GID:2275468384275427}
  response:
    body:
      string: '{"data":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      x-asana-api-version:
      - '1.0'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 200
      message: OK
version: 1
