interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.11.2&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: GET
    uri: https://app.asana.com/api/1.0/workspaces/${WORKSPACE_GID}/projects?opt_fields=name&limit=100
  response:
    body:
      string: '{"data":[{"gid":"1214927854047052","name":"pagination-test"},{"gid":"1215012205678472","name":"pagination-test-small"}],"next_page":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      x-asana-api-version:
      - '1.1'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"name": "pytest-e2e-test_task_crud", "projects": ["1214927854047052"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.11.2&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: POST
    uri: https://app.asana.com/api/1.0/tasks
  response:
    body:
      string: "{\"data\":{\"gid\":\"1215012496986148\",\"resource_type\":\"task\",\"created_at\":\"2026-05-21T12:51:06.623Z\",\"modified_at\":\"2026-05-21T12:51:06.905Z\",\"name\":\"pytest-e2e-test_task_crud\",\"notes\":\"\",\"actual_time_minutes\":0,\"completed\":false,\"completed_at\":null,\"due_on\":null,\"due_at\":null,\"start_on\":null,\"start_at\":null,\"resource_subtype\":\"default_task\",\"num_hearts\":0,\"num_likes\":0,\"assignee\":null,\"assignee_status\":\"upcoming\",\"workspace\":{\"gid\":\"${WORKSPACE_GID}\",\"resource_type\":\"workspace\",\"name\":\"${WORKSPACE_NAME}\"},\"parent\":null,\"hearted\":false,\"liked\":false,\"tags\":[],\"hearts\":[],\"likes\":[],\"permalink_url\":\"https://app.asana.com/1/${WORKSPACE_GID}/project/1214927854047052/task/1215012496986148\",\"projects\":[{\"gid\":\"1214927854047052\",\"resource_type\":\"project\",\"name\":\"pagination-test\"}],\"followers\":[{\"gid\":\"1214276200508365\",\"resource_type\":\"user\",\"name\":\"${USER_NAME}\"}],\"memberships\":[{\"section\":{\"gid\":\"1214927779918259\",\"resource_type\":\"section\",\"name\":\"\u7121\u984C\u306E\u30BB\u30AF\u30B7\u30E7\u30F3\"},\"project\":{\"gid\":\"1214927854047052\",\"resource_type\":\"project\",\"name\":\"pagination-test\"}}]}}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828;affected=true
      location:
      - /api/1.0/tasks/1215012496986148
      x-asana-api-version:
      - '1.0'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.11.2&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: GET
    uri: https://app.asana.com/api/1.0/tasks/1215012496986148
  response:
    body:
      string: "{\"data\":{\"gid\":\"1215012496986148\",\"actual_time_minutes\":null,\"assignee\":null,\"assignee_status\":\[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Asana-Client-Lib:
      - language=Python&version=5.2.4&language_version=3.11.2&os=Linux&os_version=6.6.114.1-microsoft-standard-WSL2
      authorization:
      - Bearer ***REDACTED***
    method: DELETE
    uri: https://app.asana.com/api/1.0/tasks/1215012496986148
  response:
    body:
      string: '{"data":{}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      asana-change:
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
      - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
      x-asana-api-version:
      - '1.0'
      x-asana-cell:
      - prod-us1-asana-cell16
    status:
      code: 200
      message: OK
version: 1
